@font-face {
    font-family: BigNoodleTitling;
    src: url(../Fonts/BigNoodleTitling.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../Fonts/Roboto_Thin.ttf);
}
@font-face {
    font-family: Myriad Pro;
    src: url(../Fonts/MyriadProRegular.ttf);
}
@font-face {
    font-family: Arial Unicode MS;
    src: url(../Fonts/ARIALUNI.ttf);
}

.header {
    background-color: #F8F6F6;
    height: 143px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headerSize{
    width: 1004px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: BigNoodleTitling;
    font-size: 40px;
    color: #696969;
}
.logoText{
    margin-left: 35px;
    cursor: pointer;
}

.hamburgermenu {
    cursor: pointer;

}

.creative_works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #353535;
}
.imageMouse{
    margin-top: 166px;
    cursor: pointer;
}
.title{
    margin-top: 166px;
}

.title,
.subtitle,
.scrollDown {
    font-family: BigNoodleTitling;
    font-size: 72px;
    color: #d6d5d5;
}

.subtitle {
    font-size: 36px;
}

.scrollDown {
    font-size: 12px;
    margin-bottom: 60px;
}

.aboutUsTab {
    height: 569px;
}

.TopPart {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.headingTop {
    font-family: BigNoodleTitling;
    font-size: 48px;
    color: #3d3d3d;
    margin-top: 77px;
}
.BlogPosts{
    margin-top: 30px;
}

.loremIpsum {
    width: 547px;
    height: 41px;
    font-size: 14px;
    color: #3d3d3d;
    font-family: BigNoodleTitling;
    margin-top: 26px;
}

.boxSize {
    width: 1044px;
    height: 199px;
    margin-top: 62px;
}

.pluses {
    width: 322px;
    height: 196px;
    background-color: #ebebeb;
    cursor: pointer;
}

.pluses__text {
    font-size: 18px;
    font-family: BigNoodleTitling;
    color: #3d3d3d;
}

.pluses__loremIpsum {
    font-size: 14px;
    font-family: BigNoodleTitling;
    color: #3d3d3d;
}

.pluses {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.boxSize {
    display: flex;
    flex-direction: row;
    width: 1004px;
    height: 196px;
    justify-content: space-between;
}

.pluses__image {
    margin-top: 31px;
}

.pluses__loremIpsum {
    margin-bottom: 28px;
}

.videotab {
    height: 428px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playNow {
    width: 683px;
    height: 428px;
    background-color: #171f23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.backgroundImage {
    width: 683px;
    height: 428px;
    background-image: url(../images/background.png);
    position: relative;
}

.heading {
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}

.loremIpsumText {
    font-family: Roboto;
    font-weight: thin;
    font-size: 14px;
    color: #585959;
    text-align: center;
}

.playnowbutton {
    color: white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    width: 128px;
    height: 37px;
    background-color: #e64e40;
    border: 0;
    border-bottom: 3px solid #b51809;
    box-sizing: border-box;
    cursor: pointer;
}

.sizing {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 122px 92px 92px 92px;
}

.BGColor {
    position: absolute;
    background-color: #111618;
    opacity: 80%;
    width: 683px;
    height: 428px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourWorks {
    height: 316px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.textLoremIpsum {
    font-family: Roboto;
    font-weight: thin;
    font-size: 14px;
    color: #3d3d3d;
    width: 542px;
}

.menuItem {
    font-family: Roboto;
    font-weight: Bold;
    font-size: 14px;
    color: #4d4140;
    cursor: pointer;
}

.menuItem:hover {
    text-decoration: underline orangered;
}

.OurWorksAlign {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
    
.bottomMenu {
    display: flex;
    flex-direction: row;
    width: 616px;
    height: 25px;
    justify-content: space-between;
    margin-bottom: 28px;
}

.orange {
    height: 525px;
    background-color: #e84c3d;
}

.clients {
    height: 240px;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clientName {
    color: #ececec;
    font-family: Arial Unicode MS;
    font-size: 33px;
    cursor: pointer;
}

.image_client_name {
    display: flex;
    flex-direction: row;
    width: 241px;
    align-items: center;
    justify-content: center;
}

.clientImage {
    padding: 0;
    z-index: 5;
    position: relative;
}

.clientImageSquare {
    position: absolute;
    z-index: 1;
}

.position {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.whoWeAreSize {
    height: 813px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.whoWeAre {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 273px;
    text-align: center;
}

.orangeLine {
    width: 120px;
    height: 3px;
    background-color: #f15324;
}

.personBackground {
    height: 438px;
    margin-bottom: 106px;
    display: flex;
    justify-content: center;
}

.team {
    width: 1004px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person {
    width: 321px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 65px 0;
}

.orangeCircle {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    background-color: #ef6b50;
}

.name {
    font-family: Roboto;
    font-weight: Bold;
    font-size: 20px;
    color: #4d4140;
    padding-top: 30px;
}

.profession {
    font-family: Myriad Pro;
    font-size: 14px;
    color: #3d3d3d;
    text-align: center;
    padding-top: 30px;
}

.hoverDots {
    display: flex;
    flex-direction: row;
    width: 51px;
    justify-content: space-between;
    padding-top: 30px;
}

.dots {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
}

.dots:hover {
    background-color: #696969;
}

.mySkills {
    width: 663px;
    background-color: #ebebeb;
}

.mySkillsHeading {
    font-family: Roboto;
    font-weight: Bold;
    font-size: 20px;
    color: #4d4140;
}

.mySkillsText {
    font-family: Roboto;
    font-weight: thin;
    font-size: 14px;
    color: #858383;
}

.editorName {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    color: #3d3d3d;
}

.size {
    width: 543px;
    height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 124px;
    margin-left: 65px;
}

.mySkillsStatistics {
    width: 543px;
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lineStatistics {
    display: flex;
    flex-direction: column;
    height: 112px;
    width: 369px;
    justify-content: space-between;
    margin-top: 5px;
}

.linesAlign {
    height: 15px;
    width: 369px;
    display: flex;
    flex-direction: row;
}

.orangeStatisticsP,
.orangeStatisticsI,
.orangeStatisticsS,
.orangeStatisticsA {
    background-color: #e64e40;
    height: 2px;
}

.orangeStatisticsP {
    width: 291px;
}

.orangeStatisticsI {
    width: 309px;
}

.orangeStatisticsS {
    width: 300px;
}

.orangeStatisticsA {
    width: 344px;
}

.whiteStatisticsP,
.whiteStatisticsI,
.whiteStatisticsS,
.whiteStatisticsA {
    background-color: #fbefee;
    height: 2px;
}

.whiteStatisticsP {
    width: 78px;
}

.whiteStatisticsI {
    width: 60px;
}

.whiteStatisticsS {
    width: 69px;
}

.whiteStatisticsA {
    width: 25px;
}

.percentage {
    height: 112px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editorNamealign {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.someFeatures {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #171f23;
    height: 383px;
    font-size: 36px;
    font-family: Roboto;
    font-weight: bold;
    color: white;
}

.featuresList {
    width: 919px;
    height: 212px;
}

.insideAlign {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    width: 108px;
    height: 203px;
}

.numbers {
    font-size: 48px;
    font-family: Myriad Pro;
    font-weight: thin;
}

.blogPosts {
    height: 797px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.examples {
    width: 1004px;
    height: 426px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 115px;
}

.create {
    width: 321px;
    height: 426px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.loremBlogPosts {
    margin-top: 0;
    text-align: center;
}
.makeabreak {
    position: absolute;
}

.hovers {
    position: relative;
    width: 108px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 84px;
    margin-left: 100px;
}

.orangeButton,
.pinkButton {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellipse {
    position: absolute;
    width: 40px;
    height: 40px;
}

.icon {
    position: relative;
}

.secondPart,
.secondPartPosition {
    background-color: #ebebeb;
    width: 322px;
    height: 213px;
}

.blogpic,
.makeabreak {
    width: 321px;
    height: 213px;
}

.secondPartPosition {
    margin-top: 82px;
}

.createHeading,
.date,
.numberOfLikes,
.numberOfSms {
    font-family: Myriad Pro;
    font-size: 18px;
    color: #5e5251;
}

.LoremSeconPart {
    color: #5e5251;
    font-family: Roboto;
    font-weight: thin;
    font-size: 14px;
    opacity: 100%;
}

.bottomLine {
    width: 262px;
    height: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dateleft {
    height: 12px;
    width: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dateright {
    height: 12px;
    width: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date,
.numberOfLikes,
.numberOfSms {
    font-size: 10px;
}

.creativeCleanSize {
    width: 262px;
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    height: 213px;
}

.chooseplan {
    height: 705px;
    background-color: #171f23;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.plans {
    width: 984px;
    height: 449px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headingChoosePlan {
    font-size: 40px;
    font-family: Roboto;
    color: white;
}

.typesOfPlanes {
    width: 236px;
    height: 449px;
    display: flex;
    flex-direction: column;
}

.cost {
    height: 129px;
    width: 236px;
    background-color: #0e1316;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.includes {
    background-color: #1f282c;
    width: 236px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nameOfType {
    font-family: Roboto;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.sumOfColumn {
    font-family: Roboto;
    font-size: 36px;
    color: white;
}
.includes_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 121px;
    text-align: center;
    color: white;
    
}
.includes_list_text{
    font-weight: bold;
}
button{
    border-radius: 4px;
    background-color: #f6744b;
    color: white;
    font-family: Roboto;
    font-weight: bold;
    border: none;
}
.purchase{
    width: 126px;
    height: 34px;
    cursor: pointer;
    
}
.typesOfPlanes:hover{
    border: 2px solid #f6744b;
    box-sizing: border-box;
}
.getintouch{
    height: 694px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.formforName_Mail{
    display: flex;
    flex-direction: row;
    width: 787px;
    height: 374px;
    justify-content: space-between;
}
.nameForm{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 69px;
    justify-content: space-between;
}
.nameHeading{
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    color: #696969;
}
.nameInput,.massageInput{
    border: none;
    border-bottom: 1px solid #696969;
    height: 44px;
}
.nameInput:focus, .massageInput:focus{
outline: none;
}
.massageInput{
    width: 775px;
    height: 80px;
}
.forms{
    width: 771px;
    height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sendMessage{
    width: 202px;
    height: 51px;
    cursor: pointer;
}
.sendMessage:focus{
    outline: none;
    font-size: 18px;
}
.locateOnMap{
    height: 83px;
    color: white;
    background-color: #0c1215;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: bold;
}
.locateOnMapTitle, .socialNetworksLogo{
    cursor: pointer;
}
.imageForLocation{
    margin-left: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 239px;
    background-color: #171f23;
    align-items: center;
}
.boostfolia{
    font-family: BigNoodleTitling;
    font-size: 24px;
    color: #e7dbdb;
}
.boostfoliaSubtitle{
    font-family: Myriad Pro;
    font-size: 14px;
    color: #e7dbdb;
}
.footerSize{
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 700px) {
    .headerSize {
        width: 100%;
    }
    .videotab {
        flex-direction: column;
        height: unset;
    }
    .BGColor,
    .playNow {
        width: 100%;
    }
    .backgroundImage {
        width: 100%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 1040px) {
    .boxSize>div {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .team {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .mySkills{
        width: 100%;
        margin-bottom: 20px;
    }
    .size{
        margin: 0;
        align-items: center;
        width: 100%;
        height: 100%;
        
    }
    .personBackground{
        height: 100%;
        margin-bottom: 0;
    }
    .chooseplan, .blogPosts, .BGColor, .playNow, .aboutUsTab, .whoWeAre, .getintouch, .massageInput{
        height: 100%;
    }
    .featuresList, .chooseplan,  .forms, .formforName_Mail{
        width: 100%;
    }
    .examples, .plans, .formforName_Mail, .clients{
        flex-direction: column;
        align-items: center;
    }
    .examples, .plans, .loremIpsum, .boxSize, .videotab, .bottomMenu, 
    .clients, .menuItem, .ourWorks, .locateOnMap, .footer, .someFeatures, 
    .featuresList, .whoWeAreSize {
        width: 100%;
        height: 100%;
    }
    .formforName_Mail{
        width: 500px;

    }
    .forms{
        align-items: center;
    }
    .massageInput{
        width: 500px;
    }
    .image_client_name{
        justify-content: unset;
    }
    .loremIpsum, .person{
        margin-bottom: 20px;
    }
    .headingTop, .create{
        margin-top: 20px;
    }
    .boxSize{
        margin-top: 0;
    }
    .clients{
        padding: 15px 0;
    }
    .loremIpsum{
        padding: 0;
    }
    .mySkills, .footer{
        padding: 15px;
    }
    .examples, .typesOfPlanes, .nameForm{
        margin-bottom: 15px;
    }
    .chooseplan{
        padding-top: 15px;
    }
    .headingChoosePlan{
        padding-bottom: 15px;
    }
    .sendMessage{
        margin-top: 80px;
    }
    .nameHeading{
        margin-top: 20px;
    }
    .locateOnMap{
        padding: 15px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 375px) {
    .loremIpsumText {
        font-size: 18px;
        color: white;
        padding-bottom: 60px;
     }
     .heading, .team{
        padding-bottom: 25px;
     }
    .pluses__image, .pluses__text, .profession{
        margin-bottom: 25px;
    }
    .playnowbutton{
        margin-bottom: 60px;
    }
    .hamburgermenu, .pluses__image{
        height: 60px;
        width: 60px;
    }
    .logo{
        padding-left: 30px;
    }
    .title, .sumOfColumn{
        padding-bottom: 40px;
    }
    .loremIpsum, .name, .mySkillsHeading, .featuresText {
        font-size: 36px;
    }
    .pluses__text{
        font-size: 48px;
    }
        .pluses__loremIpsum, 
        .menuItem, 
        .profession, 
        .mySkillsText, 
        .includes_list, 
        .locateOnMapTitle, 
        .createHeading{
        font-size: 25px;
    }
    .boxSize, .bottomMenu, .insideAlign{
        flex-direction: column;
    }
        .pluses, 
        .team, 
        .person, 
        .hoverDots, 
        .mySkillsStatistics, 
        .linesAlign, 
        .forms, 
        .formforName_Mail, 
        .cost, .includes,
        .typesOfPlanes{
        width: 100%;
        height: 100%;
    }
    .menuItem{
        padding-bottom: 25px;
    }
    .team{
        background-color: #ebebeb;
    }
    .socialNetworksLogo{
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
    .orangeCircle{
        width: 200px;
        height: 200px;
    }
    .socialNetworksLogo:last-child{
        margin-right: 0;
    }
    .dots{
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
    .hoverDots{
        justify-content: center;
    }
    .mySkills, .chooseplan{
        padding: 0;
    }
    .mySkillsText{
        color: #3d3d3d;
    }
    .person{
        margin-bottom: 0;
    }
    .whiteStatisticsP {
        width: 42px;
    }
    
    .whiteStatisticsI {
        width: 32px;
    }
    
    .whiteStatisticsS {
        width: 38px;
    }
    
    .whiteStatisticsA {
        width: 14px;
    }
    .orangeStatisticsP {
        width: 158px;
    }
    
    .orangeStatisticsI {
        width: 168px;
    }
    
    .orangeStatisticsS {
        width: 162px;
    }
    
    .orangeStatisticsA {
        width: 186px;
    }
    .orangeStatisticsP,
    .orangeStatisticsI,
    .orangeStatisticsS,
    .orangeStatisticsA,
    .whiteStatisticsP,
    .whiteStatisticsI,
    .whiteStatisticsS,
    .whiteStatisticsA  {
    height: 4px;
}
.editorName{
    font-size: 18px;
}
.percentage{
    font-weight: bold;
}
.lineStatistics{
    width: 100%;
}
.includes_list{
    height: 100%;
}
.insideAlign{
    align-items: center;
}
.nameForm,.massageInput{
    height: unset;
    width: unset;
}
.sendMessage, .purchase, .playnowbutton {
    height: 65px;
    width: 250px;
    font-size: 23px;
}
.sizing, .mySkillsText{
    padding: 0 20px;
}
.nameOfType, .image_client_name{
    padding-top: 40px;
}
.purchase{
    margin-bottom: 60px;
}
.option{
    margin-top: 15px;
}
.typesOfPlanes{
    margin-bottom: 0;
}
.headingChoosePlan, .featuresText, .mySkillsHeading, .heading, .loremIpsum, .hoverDots{
    padding: 60px 0;
}
.lastLine{
    padding-bottom: 30px;
}
.mySkillsText, .column{
    padding-bottom: 60px;
}
.person, .hoverDots{
    padding-bottom: 0;
}
.profession{
    padding-top: 0;
}
.moveOption{
    padding-top: 50px;
}
.moveLastOption{
    padding-bottom: 78px;
}
.LoremSeconPart{
    font-size: 18px;
}
    }